<!-- work -->
<section id="work" class="wrapper style2 spotlights">
  {% for post in site.posts limit:3 %}
  <section>
  {% if post.link_to_page %}
    <a href="{{post.url}}" class="image">
  {% else %}
    <span class="image">
  {% endif %}
    <img
        src="{% link {{post.image}} %}"
        alt="{{post.image_alt}}"
        data-position="center center"
    />
  {% if post.link_to_page %}
    </a>
  {% else %}
    </span>
  {% endif %}
    <div class="content">
      <div class="inner">
        <h2>{{post.title}}</h2>
        <p>{{post.excerpt}}</p>
        {% if post.link_to_page %}
        <ul class="actions">
          <li><a href="{{post.url}}" class="button">Learn more</a></li>
        </ul>
        {% endif %}
      </div>
    </div>
  </section>
  {% endfor %}
</section>
