<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.title}}</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="{% link /assets/css/main.css%}" />
    <noscript
      ><link rel="stylesheet" href="{% link /assets/css/noscript.css %}"
    /></noscript>
  </head>
  <body class="is-preload">
    {{content}} {% include footer.html %} {% include scripts.html %}
  </body>
</html>
